<!DOCTYPE html>
<html>

	<head>
		<!-- Title -->
		<title>S-CASE Authentication</title>
		
		<!-- Meta Tags -->
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="S-CASE - Scaffolding Scalable Software Services - Authentication" />
        
        <!-- Google Fonts -->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900">
        <!-- Awesome Fonts -->
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <!-- Bootstrap Stylesheet -->
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!-- Custom Stylesheet -->
        <link rel="stylesheet" type="text/css" href="/assets/stylesheets/main.css">
        
        <!-- Inline Style -->
        <style>
        	html,
        	body {
        		margin-top: 0;
        		padding-top: 0;
        	}
        </style>
	</head>
	
	<body id="index">
		<!-- Begin Header -->
		<header id="header">
			<div class="container text-center">
				<div class="row">
					<div class="col-xs-12">
						<h1 id="scase-logo" class="scase-logo">
							<a href="/" title="S-CASE Authentication">
								<img src="assets/images/scase_logo.png" alt="S-CASE logo">
							</a>
						</h1>
					</div>
				</div>
			</div>
		</header>
		<!-- End Header -->
		<!-- Begin Main Content -->
		<div class="content" id="main-content">
			<div class="jumbotron text-center">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<h1>Welcome to <span>S-CASE</span></h1>
							<p>Login or Register with</p>
							<a href="/connect/github" class="btn btn-default btn-lg" title="Github">
								<span class="fa fa-github"></span> Github
							</a>
							<!--<a href="/connect/google" class="btn btn-danger btn-lg" title="Google Plus">
								<span class="fa fa-google-plus"></span> Google+
							</a>-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Main Content -->
		<!-- Begin Footer -->
		<footer id="footer">
			<div class="container text-center">
				<div class="row">
					<div class="col-xs-12">
						<p>
							For more info about <b>S-CASE</b> visit:
							<a href="http://www.scasefp7.eu" title="S-CASE Project" target="_blank">http://www.scasefp7.eu</a> | 
							<a href="http://www.scasefp7.eu/news-blog/" title="S-CASE Blog" target="_blank">S-CASE Blog</a>
						</p>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer -->
	</body>
	
</html>
