<!-- Begin Navigation Menu -->
<nav class="navbar navbar-fixed-top">
    <div class="container">
	<div class="navbar-header">
	    <a class="navbar-brand" href="/profile" title="S-CASE Authentication">
		<img src="assets/images/scase_logo.png" alt="S-CASE">
	    </a>
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	    </button>
	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse">
	    <ul class="nav navbar-nav navbar-right">
		<li class="navbar-nav-item">
	            <a href="/profile">Profile</a>
		</li>
		<li class="navbar-nav-item">
		    <a href="/displayOwnprojects">Projects</a>
		</li>
		<li class="navbar-nav-item">
		    <a href="/displayCollabprojects">Collaborations</a>
	        </li>
		<li class="navbar-nav-item">
		    <a href="QA">Search</a>
		</li>
		<li class="navbar-nav-item">
		    <a href="/ApiDocumentation">Help</a>
		</li>
		<li class="navbar-nav-item">
		    <a href="/logout"><span class="fa fa-sign-out"></span> Logout</a>
		</li>
            </ul>
	</div>
    </div>
</nav>
<!-- End Navigation Menu -->
