<!doctype html>
<html>
    <% include header %>
    <body id="projects">
	<!-- Begin Header -->
	<header id="header">
	    <% include navbar %>
	</header>
	<!-- End Header -->
	<!-- Begin Main Content -->
	<div class="content" id="main-content">
	    <div class="container section">
		<div class="row">
		    <div class="col-md-10 col-md-offset-1 section-title">
                        <h1 class="no-margin">Projects</h1>
                    </div>
		</div>
		<div class="row">
		    <div class="col-md-10 col-md-offset-1 section-body clearfix">
			<h4 class="text-center">Create A New Project</h4>
                        <!-- Form to create a Project -->
			<form action="/createProject" method="post" class="text-center" role="form">
                            <div class="form-group">
                                <label for="name"></label>
                                <input type="text" id="name" name="name" placeholder="Enter your project's name (not empty)" size="35">
                                <button type="submit" class="btn btn-danger no-margin">Create Project</button>
                            </div>
                        </form>
                        <span class="space-20"></span>
			<% if(projectnames.length > 0) { %>
			<table class="table table-striped table-bordered">
    			    <thead>
    			        <tr>
        			    <th>#</th>
        			    <th>Project Name</th>
        			    <th></th>
        			    <th></th>
    				</tr>
    			    </thead>
    			    <tbody>
				<% for (var i in projectnames) { %>
    			        <tr>
    			            <td data-title="#"><%= i %></td>
    				    <td data-title="Project Name"><%= projectnames[i].project_name %></td>
    				    <!-- Button to edit the project's details-->
				    <% var manageurl="/manageprojects?project_name="+ projectnames[i].project_name %>
    				    <td>
    					<a href=<%= manageurl %> class="btn btn-danger btn-sm">
    					    <span class="fa fa-pencil"></span> Edit Project
    					</a>
    				    </td>
    				    <!-- Button to delete the project -->
				    <% var deleteurl="/deleteprojects?project_name="+ projectnames[i].project_name %>
    				    <td>
    					<a href=<%= deleteurl %> class="btn btn-danger btn-sm">
    					    <span class="fa fa-times"></span> Delete Project
    					</a>
    				    </td>
    				</tr>
				<% } %>
			    </tbody>
    			</table>
			<% } %>
                    </div>
		</div>
	    </div>
	</div>
	<!-- End Main Content -->

	<% include footer %>
    </body>
</html>
