<!DOCTYPE html>

<html ng-app="qaApp">
    <% include header %>
    <body id="search">
	<!-- Begin Header -->
	<header id="header">
	    <% include navbar %>
	</header>
	<!-- End Header -->
	<!-- Begin Main Content -->
	<div class="content" id="main-content">
	    <div class="container section">
		<div class="row">
	            <div class="col-md-10 col-md-offset-1 section-title">
                        <h1 class="no-margin">Search</h1>
                    </div>
		</div>
		<div class="row">
		    <div class="col-md-10 col-md-offset-1 section-body clearfix">
			<!-- The tabs of search modes -->
			<ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#text-search">Free Text Search</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#structured-search">Structured Search</a>
                            </li>
                        </ul>
			<!--Controller for the search options-->
			<div class="tab-content" ng-controller="SearchController as searchCtrl">
                            <div id="text-search" class="tab-pane fade in active">
                                <div class="panel panel-default" id="query">
        			    <div class="panel-body">
        			        <form name="queryForm" class="no-margin">
                                            <div id="text-search">
                                                <div class="input-group">
                    				    <span class="input-group-addon">
                    					<input type="text" ng-model="searchCtrl.searchQuery.question" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" placeholder="Enter a question e.g Which services are used to create a tag cloud?" title="Operations"></textarea>
                    				    </span>
                    				</div>
                    				<fieldset class="form-group">
                    				    <input type="submit" class="btn btn-danger margin-top-15 pull-right" ng-click="searchCtrl.TransformFreeText()" value="Submit Query">
                    				</fieldset>
                                            </div>
                                        </form>
                    		    </div>
                    		</div>
			    </div>
			    <div id="structured-search" class="tab-pane fade">
                                <div class="panel panel-default" id="query">
        			    <div class="panel-body">
        			        <form name="queryForm" class="no-margin">
                                            <div id="structured-search">
                                                <div class="input-group">
                    				    <span class="input-group-addon">
                    					<input type="text" ng-model="searchCtrl.searchQuery.operations" class="form-control ng-pristine ng-valid ng-touched" placeholder="Enter operations, keywords separated by comma e.g authentication, social media, REST" title="Operations"></textarea>
                    				    </span>
                    				</div>
                    							
                                                <span class="space-35"></span>
                                                
                    	      			<h5><b>Domains of Interest (Select only one or all)</b></h5>
                    				<p>Pick only one (If you do not make a choice, all the domains will be selected)</p>
                    				
						<ui-select ng-model="searchCtrl.searchQuery.domainQuery" theme="bootstrap" ng-disabled="disabled" style="min-width: 300px;" ng-change="searchCtrl.subdomainJSON(searchCtrl.searchQuery.domainQuery)">
						    <ui-select-match placeholder="Select domain for the list or search for a domain...">
							{{$select.selected.Category}}
						    </ui-select-match>
						    <ui-select-choices repeat="domain in searchCtrl.domains | filter: $select.search">
						      	<div ng-bind-html="domain.Category | highlight: $select.search "></div>
						    </ui-select-choices>
						</ui-select>
                                                
                                                <span class="space-35"></span>
                                                
                    				<h5><b>Sub-Domains of Interest (Depending on your domain selection)</b></h5>
                    				<p>Pick only one (If you do not make a choice, all the subdomains will be selected)</p>
				
						<ui-select ng-model="searchCtrl.searchQuery.subdomainQuery" theme="bootstrap" ng-disabled="!searchCtrl.subdomains.length">
						    <ui-select-match placeholder="Select subdomain for the list or search for a subdomain...">
							{{$select.selected.Category}}
						    </ui-select-match>
						    <ui-select-choices repeat="subdomain in searchCtrl.subdomains | filter: $select.search">
						      	<div ng-bind-html="subdomain.Category | highlight: $select.search "></div>
						    </ui-select-choices>
						</ui-select>
                                                
                                                <span class="space-35"></span>
                                                
                    				<h5><b>Requirements Classification</b></h5>
						<select ng-init="searchCtrl.searchQuery.requirementsClass = searchCtrl.requirementsClasses[2]" ng-model="searchCtrl.searchQuery.requirementsClass" ng-options="reqsClass.name for reqsClass in searchCtrl.requirementsClasses">
					        </select>
                                                
                                                <span class="space-20"></span>
                                                
                			        <fieldset class="form-group">
                			            <input type="submit" class="btn btn-danger pull-right" ng-click="searchCtrl.doSearch()" value="Submit Query">
                			      	</fieldset>
                                            </div>
                    			</form>	
        			    </div>
        			</div>
        		    </div>
			    <div class="text-center margin-top-30" ng-show="loadMessage && !resMessage">
				<img src="assets/images/ajax-loader.gif" /> 
				<span style="font-weight: 600;"> Loading...</span>
			    </div>
			    <div class="panel panel-default" id="results" ng-show="resMessage">
                    	            <div class="panel-heading">Results</div>
        			    <div class="panel-body">
				        <ul class="nav nav-pills nav-stacked col-lg-3 col-md-4">
	                          	    <li class="active">
	                          	        <a data-toggle="pill" href="#tab1">Requirements</a>
	                                    </li>
	                	            <li>
	                          	   	<a data-toggle="pill" href="#tab2">Use Case Diagrams</a>
	                                    </li>
	                          	    <li>
	                          	    	<a data-toggle="pill" href="#tab3">Activity Diagrams</a>
	                                    </li>
	                                    <li>
	                          	    	<a data-toggle="pill" href="#tab4">Analysis Class Diagrams</a>
	                                    </li>
	                                    <li>
	                          	    	<a data-toggle="pill" href="#tab5">Storyboards Diagrams</a>
	                                    </li>
	                                    <li>
	                          	    	<a data-toggle="pill" href="#tab6">Source Codes</a>
	                                    </li>
	                                    <li>
	                          	    	<a data-toggle="pill" href="#tab7">S-CASE Services</a>
	                                    </li>
	                                    <li>
	                          	    	<a data-toggle="pill" href="#tab8">OSRF Snippets</a>
	                                    </li>
	                                </ul>
				    	<div class="tab-content col-lg-9 col-md-8 no-margin">
	                                <div id="tab1" class="tab-pane fade in active">
	                                    <div class="panel panel-info">
	                    		  	<div class="panel-heading">Requirements</div>
	                    			<div class="panel-body" ng-controller="SearchController">
						    <div class="panel-group" id="accordion-1">
							<div class="panel panel-default" ng-repeat="req in requirements">
	                                                    <div class="panel-heading">
	                                                        <h5 class="panel-title">
	                                                            <a data-toggle="collapse" href="#collapse1{{$index + 1}}" data-parent="#accordion-1">
	                                                                {{req.artefact.name}} <span class="caret hidden-xs"></span>
	                                                            </a>
	                                                        </h5>
	                                                    </div>
							    <div id="collapse1{{$index + 1}}" class="panel-collapse collapse">
	                                                        <div class="panel-body no-padding">
	                                			    <table class="table table-striped">
	                                				<tbody>
	                                				    <tr>
	                                    					<td>Classification:</td>
	                                    					<td>{{req.artefact.payload[0].name}}</td>
	                                    				    </tr>
									    <tr>
	                                    					<td>Text:</td>
	                                    					<td>{{req.artefact.description}}</td>
	                                    				    </tr>
	                                    				    <tr>
	                                    					<td>Belong to Project:</td>
	                                    					<td>{{req.artefact.projectName}}</td>
	                                    				    </tr>
	                                    				    <tr>
	                                    					<td>Link to File:</td>
	                                    					<td>{req.link}}</td>
	                                    				    </tr>
	                                    				    <tr>
	                                    					<td>Language:</td>
	                                    					<td>{{req.language}}</td>
	                                    				    </tr>
	                                    				    <tr>
	                                    					<td>uri:</td>
	                                    					<td>{{req.artefact.uri}}</td>
	                                    				    </tr>
	                                    				    <tr>
	                                    					<td>groupid:</td>
	                                    					<td>{{req.artefact.groupId}}</td>
	                                    				    </tr>
	                                    				    <tr>
	                                    					<td>name:</td>
	                                    					<td>{{req.artefact.name}}</td>
	                                    				    </tr>
	                                    				    <tr>
	                                    					<td>version:</td>
	                                    					<td>{{req.artefact.version}}</td>
	                                    				    </tr>
	                                    				    <tr>
	                                    					<td>keywords:</td>
	                                    					<td>{{req.artefact.tags}}</td>
	                                    				    </tr>
	                                    				    <tr>
	                                    					<td>createdAt:</td>
	                                    				        <td>{{req.artefact.createdAt}}</td>
	                                    				    </tr>
	                                    				    <tr>
	                                    					<td>updatedAt:</td>
	                                    					<td>{{req.artefact.updatedAt}}</td>
	                                    				    </tr>
	                                    				    <tr>
	                                    					<td>createdBy:</td>
	                                    					<td>{{req.artefact.createdBy}}</td>
	                                    				    </tr>
	                                    				    <tr>
	                                    					<td>updatedBy:</td>
	                                    					<td>{{req.artefact.updatedBy}}</td>
	                                    				    </tr>
									    <tr>
	                                    					<td>score:</td>
	                                    					<td>{{req.score}}</td>
	                                    				    </tr>
	                                				</tbody>
	                                			    </table>
	                                                        </div>
	                                                    </div>
							</div>
						    </div>
						</div>
	                		    </div>
	                                </div>
	                                <div id="tab2" class="tab-pane fade">
	                                    <div class="panel panel-info">
	                    		  	<div class="panel-heading">Use Case Diagrams</div>
	                    			<div class="panel-body" ng-controller="SearchController as searchCtrl">
						    <div class="panel-group" id="accordion-2">
							<div class="panel panel-default" ng-repeat="usecasediagram in searchCtrl.usecasediagrams">
	                                                    <div class="panel-heading">
	                                                        <h5 class="panel-title">
	                                                            <a data-toggle="collapse" href="#collapse2{{$index + 1}}" data-parent="#accordion-2">
	                                                                {{usecasediagram.name}} <span class="caret hidden-xs"></span>
	                                                            </a>
	                                                        </h5>
	                                                    </div>
							    <div id="collapse2{{$index + 1}}" class="panel-collapse collapse">
	                                                        <div class="panel-body no-padding">
	                                			    <table class="table table-striped">
	                                				<tbody>
									    <tr>
	                                    					<td>Actors</td>
	                                    					<td>
	                                    					    <ul class="list-group">
	                                        					 <li class="list-group-item" ng-repeat="actor in usecasediagram.actors">Actor: {{actor}}</li>
	                                        				    </ul>
	                                    					</td>
	                                    				    </tr>
									    <tr>
	                                    					<td>Use Cases</td>
	                                    					<td>
	                                    					    <ul class="list-group">
	                                        					 <li class="list-group-item" ng-repeat="usecase in usecasediagrams.usecases">Usecase: {{usecase}}</li>
	                                        				    </ul>
	                                    					</td>
	                                    				    </tr>
	                                    				    <tr>
	                                    					<td>Belong to Project:</td>
	                                    					<td>{{usecasediagram.artefact.projectName}}</td>
	                                    				    </tr>
	                                				    <tr>
	                                    					<td>Format:</td>
	                                    					<td>{{usecasediagram.format}}</td>
	                                    				    </tr>
	                                    				    <tr>
	                                    					<td>Link to File:</td>
	                                    					<td>{{usecasediagram.link}}</td>
	                                    				    </tr>
									    <tr>
	                                    					<td>Relation:</td>
	                                    					<td>{{usecasediagram.relation}}</td>
	                                    				    </tr>
	                                    				    <tr>
	                                    					<td>uri:</td>
	                                    					<td>{{usecasediagram.uri}}</td>
	                                    				    </tr>
	                                    				    <tr>
	                                    					<td>groupid:</td>
	                                    					<td>{{usecasediagram.groupId}}</td>
	                                    				    </tr>
	                                    				    <tr>
	                                    					<td>name:</td>
	                                    					<td>{{usecasediagram.name}}</td>
	                                    				    </tr>
	                                    				    <tr>
	                                    					<td>version:</td>
	                                    					<td>{{usecasediagram.version}}</td>
	                                    				    </tr>
	                                    				    <tr>
	                                    					<td>description:</td>
	                                    					<td>{{usecasediagram.description}}</td>
	                                    				    </tr>
	                                    				    <tr>
	                                    					<td>keywords:</td>
	                                    					<td>{{usecasediagram.tags}}</td>
	                                    				    </tr>
	                                    				    <tr>
	                                    					<td>createdAt:</td>
	                                    				        <td>{{usecasediagram.createdAt}}</td>
	                                    				    </tr>
	                                    				    <tr>
	                                    					<td>updatedAt:</td>
	                                    					<td>{{usecasediagram.updatedAt}}</td>
	                                    				    </tr>
	                                    				    <tr>
	                                    					<td>createdBy:</td>
	                                    					<td>{{usecasediagram.createdBy}}</td>
	                                    				    </tr>
	                                    				    <tr>
	                                    					<td>updatedBy:</td>
	                                    					<td>{{usecasediagram.updatedBy}}</td>
	                                    				    </tr>
									    <tr>
	                                    					<td>score:</td>
	                                    					<td>{{usecasediagram.score}}</td>
	                                    				    </tr>
	                                				</tbody>
	                                			    </table>
	                                                        </div>
	                                                    </div>
							</div>
						    </div>
						</div>
	                		    </div>
					</div>
					<div id="tab3" class="tab-pane fade">
	                                    <div class="panel panel-info">
	                    		  	<div class="panel-heading">Activity Diagrams</div>
	                    			<div class="panel-body" ng-controller="SearchController as searchCtrl">
						    <div class="panel-group" id="accordion-3">
                                                        <div class="panel panel-default" ng-repeat="activitydiagram in searchCtrl.activitydiagrams">
                                                            <div class="panel-heading">
                                                                <h5 class="panel-title">
                                                                    <a data-toggle="collapse" href="#collapse3{{$index + 1}}" data-parent="#accordion-3">
                                                                        {{activitydiagram.name}} <span class="caret hidden-xs"></span>
                                                                    </a>
                                                                </h5>
                                                            </div>
                                                            <div id="collapse3{{$index + 1}}" class="panel-collapse collapse">
                                                                <div class="panel-body no-padding">
                        					    <table class="table table-striped">
                        						<tbody>
                        						    <tr>
                            						        <td>Actions</td>
                            						        <td>
                            						            <ul class="list-group">
                                					 		<li class="list-group-item" ng-repeat="action in activitydiagram.actions">Action: {{action}}</li>
                                						    </ul>
                            						        </td>
                            						    </tr>
                            						    <tr>
                            						        <td>Belong to Project:</td>
                            						        <td>{{activitydiagram.belongsTo}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>Format:</td>
                            						        <td>{{activitydiagram.format}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>Link to File:</td>
                            						        <td>{{activitydiagram.link}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>Relation:</td>
                            						        <td>{{activitydiagram.relation}}</td>
                            						    </tr>
									    <tr>
                            						        <td>uri:</td>
                            						        <td>{{activitydiagram.uri}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>groupid:</td>
                            						        <td>{{activitydiagram.groupId}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>name:</td>
                            						        <td>{{activitydiagram.name}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>version:</td>
                            						        <td>{{activitydiagram.version}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>description:</td>
                            						        <td>{{activitydiagram.description}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>keywords:</td>
                            						        <td>{{activitydiagram.tags}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>createdAt:</td>
                            						        <td>{{activitydiagram.createdAt}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>updatedAt:</td>
                            						        <td>{{activitydiagram.updatedAt}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>createdBy:</td>
                            						        <td>{{activitydiagram.createdBy}}</td>
                            						    </tr>
									    <tr>
                            						        <td>updatedBy:</td>
                            						        <td>{{activitydiagram.updatedBy}}</td>
                            						    </tr>
									    <tr>
                            						        <td>score:</td>
                            						        <td>{{activitydiagram.score}}</td>
                            						    </tr>
                        						</tbody>
                        					    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
						</div>
	                		    </div>
					</div>
					<div id="tab4" class="tab-pane fade">
		                            <div class="panel panel-info">
		                    		<div class="panel-heading">Analysis Class Diagrams</div>
		                    		<div class="panel-body" ng-controller="SearchController as searchCtrl">
						    <div class="panel-group" id="accordion-4">
                                                        <div class="panel panel-default" ng-repeat="classdiagram in searchCtrl.classdiagrams">
                                                            <div class="panel-heading">
                                                                <h5 class="panel-title">
                                                                    <a data-toggle="collapse" href="#collapse4{{$index + 1}}" data-parent="#accordion-4">
                                                                        {{activitydiagram.name}} <span class="caret hidden-xs"></span>
                                                                    </a>
                                                                </h5>
                                                            </div>
                                                            <div id="collapse4{{$index + 1}}" class="panel-collapse collapse">
                                                                <div class="panel-body no-padding">
                        					    <table class="table table-striped">
                        						<tbody>
                        						    <tr>
                            						        <td>Classes</td>
                            						        <td>
                            						            <ul class="list-group">
                                					 		<li class="list-group-item" ng-repeat="class in classdiagram.classes">Class Name: {{class.name}}<ul class="list-group"><li class="list-group-item" ng-repeat="property in class.properties">Property ({{property.type}}): {{property.name}}</li></ul></li>
                                						    </ul>
                            						        </td>
                            						    </tr>
                            						    <tr>
                            						        <td>Belong to Project:</td>
                            						        <td>{{classdiagram.belongsTo}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>Format:</td>
                            						        <td>{{classdiagram.format}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>Link to File:</td>
                            						        <td>{{classdiagram.link}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>Relation:</td>
                            						        <td>{{classdiagram.relation}}</td>
                            						    </tr>
									    <tr>
                            						        <td>uri:</td>
                            						        <td>{{classdiagram.uri}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>groupid:</td>
                            						        <td>{{classdiagram.groupId}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>name:</td>
                            						        <td>{{classdiagram.name}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>version:</td>
                            						        <td>{{classdiagram.version}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>description:</td>
                            						        <td>{{classdiagram.description}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>keywords:</td>
                            						        <td>{{classdiagram.tags}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>createdAt:</td>
                            						        <td>{{classdiagram.createdAt}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>updatedAt:</td>
                            						        <td>{{classdiagram.updatedAt}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>createdBy:</td>
                            						        <td>{{classdiagram.createdBy}}</td>
                            						    </tr>
									    <tr>
                            						        <td>updatedBy:</td>
                            						        <td>{{classdiagram.updatedBy}}</td>
                            						    </tr>
									    <tr>
                            						        <td>score:</td>
                            						        <td>{{classdiagram.score}}</td>
                            						    </tr>
                        						</tbody>
                        					    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
						</div>
		                	    </div>
		                        </div>
		                        <div id="tab5" class="tab-pane fade">
		                            <div class="panel panel-info">
		                    		<div class="panel-heading">Storyboards Diagrams</div>
		                    		<div class="panel-body" ng-controller="SearchController as searchCtrl">
						    <div class="panel-group" id="accordion-5">
                                                        <div class="panel panel-default" ng-repeat="storyboard in searchCtrl.storyboards">
                                                            <div class="panel-heading">
                                                                <h5 class="panel-title">
                                                                    <a data-toggle="collapse" href="#collapse5{{$index + 1}}" data-parent="#accordion-5">
                                                                        {{storyboard.name}} <span class="caret hidden-xs"></span>
                                                                    </a>
                                                                </h5>
                                                            </div>
                                                            <div id="collapse5{{$index + 1}}" class="panel-collapse collapse">
                                                                <div class="panel-body no-padding">
                        					    <table class="table table-striped">
                        						<tbody>
                        						    <tr>
                            						        <td>Actions</td>
                            						        <td>
                            						            <ul class="list-group">
                                					 		<li class="list-group-item" ng-repeat="action in storyboard.actions">Action: {{action}}</li>
                                						    </ul>
                            						        </td>
                            						    </tr>
                            						    <tr>
                            						        <td>Belong to Project:</td>
                            						        <td>{{storyboard.belongsTo}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>Format:</td>
                            						        <td>{{storyboard.format}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>Link to File:</td>
                            						        <td>{{storyboard.link}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>Relation:</td>
                            						        <td>{{storyboard.relation}}</td>
                            						    </tr>
									    <tr>
                            						        <td>uri:</td>
                            						        <td>{{storyboard.uri}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>groupid:</td>
                            						        <td>{{storyboard.groupId}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>name:</td>
                            						        <td>{{storyboard.name}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>version:</td>
                            						        <td>{{storyboard.version}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>description:</td>
                            						        <td>{{storyboard.description}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>keywords:</td>
                            						        <td>{{storyboard.tags}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>createdAt:</td>
                            						        <td>{{storyboard.createdAt}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>updatedAt:</td>
                            						        <td>{{storyboard.updatedAt}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>createdBy:</td>
                            						        <td>{{storyboard.createdBy}}</td>
                            						    </tr>
									    <tr>
                            						        <td>updatedBy:</td>
                            						        <td>{{storyboard.updatedBy}}</td>
                            						    </tr>
									    <tr>
                            						        <td>score:</td>
                            						        <td>{{storyboard.score}}</td>
                            						    </tr>
                        						</tbody>
                        					    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
						</div>
		                	    </div>
		                        </div>
		                        <div id="tab6" class="tab-pane fade">
		                            <div class="panel panel-info">
		                    		<div class="panel-heading">Source Codes</div>
		                    		<div class="panel-body" ng-controller="SearchController as searchCtrl">
						    <div class="panel-group" id="accordion-6">
                                                        <div class="panel panel-default" ng-repeat="sourcecode in searchCtrl.sourcecodes">
                                                            <div class="panel-heading">
                                                                <h5 class="panel-title">
                                                                    <a data-toggle="collapse" href="#collapse6{{$index + 1}}" data-parent="#accordion-6">
                                                                        {{sourcecode.name}} <span class="caret hidden-xs"></span>
                                                                    </a>
                                                                </h5>
                                                            </div>
                                                            <div id="collapse6{{$index + 1}}" class="panel-collapse collapse">
                                                                <div class="panel-body no-padding">
                        					    <table class="table table-striped">
                        						<tbody>
                            						    <tr>
                            						        <td>Belong to Project:</td>
                            						        <td>{{sourcecode.belongsTo}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>Format:</td>
                            						        <td>{{sourcecode.format}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>Link to File:</td>
                            						        <td>{{sourcecode.link}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>Relation:</td>
                            						        <td>{{sourcecode.relation}}</td>
                            						    </tr>
									    <tr>
                            						        <td>uri:</td>
                            						        <td>{{sourcecode.uri}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>groupid:</td>
                            						        <td>{{sourcecode.groupId}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>name:</td>
                            						        <td>{{sourcecode.name}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>version:</td>
                            						        <td>{{sourcecode.version}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>description:</td>
                            						        <td>{{sourcecode.description}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>keywords:</td>
                            						        <td>{{sourcecode.tags}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>createdAt:</td>
                            						        <td>{{sourcecode.createdAt}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>updatedAt:</td>
                            						        <td>{{sourcecode.updatedAt}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>createdBy:</td>
                            						        <td>{{sourcecode.createdBy}}</td>
                            						    </tr>
									    <tr>
                            						        <td>updatedBy:</td>
                            						        <td>{{sourcecode.updatedBy}}</td>
                            						    </tr>
									    <tr>
                            						        <td>score:</td>
                            						        <td>{{sourcecode.score}}</td>
                            						    </tr>
                        						</tbody>
                        					    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
						</div>
		                	    </div>
		                        </div>
		                        <div id="tab7" class="tab-pane fade">
		                            <div class="panel panel-info">
		                    	        <div class="panel-heading">Services</div>
		                    		<div class="panel-body" ng-controller="SearchController as searchCtrl">
						    <div class="panel-group" id="accordion-7">
                                                        <div class="panel panel-default" ng-repeat="service in searchCtrl.scaseservices">
                                                            <div class="panel-heading">
                                                                <h5 class="panel-title">
                                                                    <a data-toggle="collapse" href="#collapse7{{$index + 1}}" data-parent="#accordion-7">
                                                                        {{service.name}} <span class="caret hidden-xs"></span>
                                                                    </a>
                                                                </h5>
                                                            </div>
                                                            <div id="collapse7{{$index + 1}}" class="panel-collapse collapse">
                                                                <div class="panel-body no-padding">
                        					    <table class="table table-striped">
                        						<tbody>
                            						    <tr>
                            						        <td>Type:</td>
                            						        <td>{{service.type}}</td>
                            						    </tr>
									    <div ng-if="service.type==='service description'">
	                    						    <tr>
	                    						        <td>Link to Domain Ontology:</td>
	                    						        <td>{{service.domainOntology}}</td>
	                    						    </tr>
									    <tr>
	                    						        <td>Belong to Project:</td>
	                    						        <td>{{service.belongsTo}}</td>
	                    						    </tr>
	                    						    <tr>
	                    						        <td>Link to File:</td>
	                    						        <td>{{service.link}}</td>
	                    						    </tr>
									    </div>
									    <div ng-if="service.type==='composite service description'">
									    <tr>
                            						        <td>List of 3rd party web services:</td>
                            						        <td>{{service.list}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>Link to Workflow:</td>
                            						        <td>{{service.workflow}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>Belong to Project:</td>
                            						        <td>{{service.belongsTo}}</td>
                            						    </tr>
									    <tr>
                            						        <td>Link to File:</td>
                            						        <td>{{service.link}}</td>
                            						    </tr>
									    </div>
									    <div ng-if="service.type==='service'">
                            						    <tr>
                            						        <td>Belong to Project:</td>
                            						        <td>{{service.belongsTo}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>Url:</td>
                            						        <td>{{service.url}}</td>
                            						    </tr>
									    <tr>
                            						        <td>wadl:</td>
                            						        <td>{{service.wadl}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>entry:</td>
                            						        <td>{{service.entry}}</td>
                            						    </tr>
									    </div>
									    <div ng-if="service.type==='3rd party service'">
                            						    <tr>
                            						        <td>Belong to Project:</td>
                            						        <td>{{service.belongsTo}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>Documentation:</td>
                            						        <td>{{service.documentation}}</td>
                            						    </tr>
									    <tr>
                            						        <td>wadl:</td>
                            						        <td>{{service.wadl}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>entry:</td>
                            						        <td>{{service.entry}}</td>
                            						    </tr>
									    </div>
                            						    <tr>
                            						        <td>uri:</td>
                            						        <td>{{service.uri}}</td>
                            						    </tr>
									    <tr>
                            						        <td>groupid:</td>
                            						        <td>{{service.groupId}}</td>
                            						    </tr>
									    <tr>
                            						        <td>name:</td>
                            						        <td>{{service.name}}</td>
                            						    </tr>
									    <tr>
                            						        <td>version:</td>
                            						        <td>score: {{service.version}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>description:</td>
                            						        <td>{{service.description}}</td>
                            						    </tr>
									    <tr>
                            						        <td>keywords:</td>
                            						        <td>{{service.tags}}</td>
                            						    </tr>
									    <tr>
                            						        <td>createdAt:</td>
                            						        <td>{{service.createdAt}}</td>
                            						    </tr>
									    <tr>
                            						        <td>updatedAt:</td>
                            						        <td>{{service.updatedAt}}</td>
                            						    </tr>
									    <tr>
                            						        <td>createdBy:</td>
                            						        <td>{{service.createdBy}}</td>
                            						    </tr>
									    <tr>
                            						        <td>updatedBy:</td>
                            						        <td>{{service.updatedBy}}</td>
                            						    </tr>
									    <tr>
                            						        <td>score:</td>
                            						        <td>{{service.score}}</td>
                            						    </tr>
                        						</tbody>
                        					    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
						</div>
		                	    </div>
		                        </div>
		                        <div id="tab8" class="tab-pane fade">
		                            <div class="panel panel-info">
		                    		<div class="panel-heading">OSRF snippets</div>
		                    		<div class="panel-body" ng-controller="SearchController">
						    <div class="panel-group" id="accordion-8">
                                                        <div class="panel panel-default" ng-repeat="snip in osrfsnippets">
                                                            <div class="panel-heading">
                                                                <h5 class="panel-title">
                                                                    <a data-toggle="collapse" href="#collapse8{{$index + 1}}" data-parent="#accordion-8">
                                                                        {{snip.className}} <span class="caret hidden-xs"></span>
                                                                    </a>
                                                                </h5>
                                                            </div>
                                                            <div id="collapse8{{$index + 1}}" class="panel-collapse collapse">
                                                                <div class="panel-body no-padding">
                        					    <table class="table table-striped">
                        						<tbody>
                            						    <tr>
                            						        <td>Class Name:</td>
                            						        <td>{{snip.className}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>Source:</td>
                            						        <td>{{snip.forge}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>Belongs to Project:</td>
                            						        <td>{{snip.projectName}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>Link:</td>
                            						        <td><a ng-href="{{snip.url}}" target="_blank">{{snip.url}}</a></td>
                            						    </tr>
									    <tr>
                            						        <td>Code:</td>
                            						        <td>{{snip.sourceCode}}</td>
                            						    </tr>
                            						    <tr>
                            						        <td>score:</td>
                            						        <td>{{snip.similarityScore}}</td>
                            						    </tr>
                        						</tbody>
                        					    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
						</div>
		                	    </div>
		                        </div>
	                            </div>
				</div>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
        </div>
        <!-- End Main Content -->

        <% include footer %>
    </body>
</html>
