<!doctype html>`
<!-- the html of the QA -->
<html ng-app="qaApp">
<% include header %>
<% include navbar %>
<!-- SET THE CONTROLLER -->
<body class="container">
<!---Tabs creation, selection of active and set of default to the requirements tab-->
	<!--<section class="tab" ng-controller="TabController as tab">-->
	<section class="tab" ng-controller="TabController as tab">
		<!-- the tabs of our Search and our Results-->
        <ul class="nav nav-pills">
        	<li ng-class="{active: tab.isSet(1)}">
	            <a href ng-click="tab.setTab(1)">Search</a>
            </li>
          	<li ng-class="{active: tab.isSet(2)}">
	            <a href ng-click="tab.setTab(2)">Requirements</a>
            </li>
	        <li ng-class="{active: tab.isSet(3)}">
	            <a href ng-click="tab.setTab(3)">Use Case Diagrams</a>
            </li>
          	<li ng-class="{active: tab.isSet(4)}">
	            <a href ng-click="tab.setTab(4)">Activity Diagrams</a>
            </li>
            <li ng-class="{active: tab.isSet(5)}">
	            <a href ng-click="tab.setTab(5)">Analysis Class Diagrams</a>
            </li>
            <li ng-class="{active: tab.isSet(6)}">
	            <a href ng-click="tab.setTab(6)">Storyboards Diagrams</a>
            </li>
            <li ng-class="{active: tab.isSet(7)}">
	            <a href ng-click="tab.setTab(7)">Source Codes</a>
            </li>
            <li ng-class="{active: tab.isSet(8)}">
	            <a href ng-click="tab.setTab(8)">S-CASE services</a>
            </li>
        </ul>
        <!-- tab of search -->
        <div ng-show="tab.isSet(1)">
			<div class="panel panel-info">
		  		<div class="panel-heading"><h2 class="panel-title">Search</h2></div>
			  	<div class="panel-body" ng-controller="SearchController as searchCtrl"><!--Controller for the search options-->
			        <form name="queryForm" ng-controller="SearchModeTabController as searchModeTab"><!--controller for the simple or advanced search tabs-->
				        <ul class="nav nav-tabs"><!--the tabs of search modes-->
				        	<li ng-class="{active: searchModeTab.isSet(1)}">
					            <a href ng-click="searchModeTab.setTab(1)">Simple Search</a>
				            </li>
				          	<li ng-class="{active: searchModeTab.isSet(2)}">
					            <a href ng-click="searchModeTab.setTab(2)">Advanced Search</a>
				            </li>
			            </ul>
			            <br>			            
			            <!-- The query text box that contains the operations the user is interested in (shown in both advanced and simple search-->
						<div class="input-group">
							<span class="input-group-addon">
							<textarea ng-model="searchCtrl.searchQuery.operations" class="form-control" placeholder="Operations Query (separated by comma)" title="Operations"></textarea>
							</span>
						</div>
						<!-- advanced search tab options -->
			            <div ng-show="searchModeTab.isSet(2)">
			            	<div>
			            	    <fieldset class="form-group">
			        			    <input type="submit" class="btn btn-primary pull-right" ng-click="searchCtrl.doSearch()" value="Submit Query" />
			      			    </fieldset>
			      			</div>
							<!--angular UI-Select-->
	      				 	<h3>Domains of Interest (select only one or All)</h3>
							<h4> Pick only one (if you do not make a choice, All the domains will be selected)</h4>
						  	<ui-select ng-model="searchCtrl.searchQuery.domainQuery" theme="bootstrap" ng-disabled="disabled" style="min-width: 300px;" ng-change="searchCtrl.subdomainJSON(searchCtrl.searchQuery.domainQuery)">
						    	<ui-select-match placeholder="Select domain for the list or search for a domain...">{{$select.selected.Category}}</ui-select-match>
							    <ui-select-choices repeat="domain in searchCtrl.domains | filter: $select.search">
						      	<div ng-bind-html="domain.Category | highlight: $select.search "></div>
							    </ui-select-choices>
						  	</ui-select>

					    	<h3>Sub-Domains of Interest (Depending on your Domain selection)</h3>
				    		<h4> Pick only one (if you do not make a choice, All the subdomains will be selected)</h4>
					    	
				    		<ui-select ng-model="searchCtrl.searchQuery.subdomainQuery" theme="bootstrap" ng-disabled="!searchCtrl.subdomains.length" style="min-width: 300px;">
							    <ui-select-match placeholder="Select subdomain for the list or search for a subdomain...">{{$select.selected.Category}}</ui-select-match>
							    <ui-select-choices repeat="subdomain in searchCtrl.subdomains | filter: $select.search">
						      	<div ng-bind-html="subdomain.Category | highlight: $select.search "></div>
							    </ui-select-choices>
						  	</ui-select>

						  	<h3>Requirements Classification</h3>
					        <select ng-init="searchCtrl.searchQuery.requirementsClass = searchCtrl.requirementsClasses[2]" ng-model="searchCtrl.searchQuery.requirementsClass" ng-options="reqsClass.name for reqsClass in searchCtrl.requirementsClasses">
					        </select>
			            </div>
			            <br>
			            <div ng-show="searchModeTab.isSet(1)">
							<fieldset class="form-group">
					        	<input type="submit" class="btn btn-primary pull-right" ng-click="searchCtrl.doSearch()" value="Submit Query" />
					      	</fieldset>
				      	</div>
					</form>	
				</div>
			</div>
		</div>

		
        <!-- Requirements -->
        <div ng-show="tab.isSet(2)">
			<div class="panel panel-info">
		  		<div class="panel-heading">Requirements</div>
			  	<div class="panel-body" ng-controller="SearchController as searchCtrl">
				  	<ul class="list-group" ng-repeat="req in searchCtrl.requirements">
				  	  	<li class="list-group-item">Classification: {{req.requirement}}</li>
					  	<li class="list-group-item">Text: {{req.text}} </li>
					  	<li class="list-group-item">Belong to Project: {{req.belongsTo}}</li>
					  	<li class="list-group-item">Link to File: {{req.link}}</li>
					  	<li class="list-group-item">Language: {{req.language}}</li>
						<li class="list-group-item">uri:{{req.uri}}</li> 
						<li class="list-group-item">groupid: {{req.groupId}}</li> 
						<li class="list-group-item">name: {{req.name}}</li> 
						<li class="list-group-item">version: {{req.version}}</li> 
						<li class="list-group-item">description: {{req.description}}</li> 
						<li class="list-group-item">keywords: {{req.tags}} </li> 
						<li class="list-group-item">createdAt: {{req.createdAt}}</li> 
						<li class="list-group-item">updatedAt: {{req.updatedAt}}</li> 
						<li class="list-group-item">createdBy: {{req.createdBy}}</li> 
						<li class="list-group-item">updatedBy: {{req.updatedBy}}</li>
					</ul>
					<!---Hardcoded-->
					<ul class="list-group">
				  	  	<li class="list-group-item">Classification: Functional</li>
					  	<li class="list-group-item">Text: The user must be able to login with his/her credentials of a social media account like Google, Github </li>
					  	<li class="list-group-item">Belong to Project: Control Tower S-CASE</li>
					  	<li class="list-group-item">Link to File: <a href='#'>http://AssetsRegistry/Requirement/35</a></li>
					  	<li class="list-group-item">Language: English</li>
						<li class="list-group-item">uri:</li> 
						<li class="list-group-item">groupid: /AssetsRegistry/ctcode</li> 
						<li class="list-group-item">name: LoginReqControlTower</li> 
						<li class="list-group-item">version: 0.1</li> 
						<li class="list-group-item">description: Login with Google and Github requirement of Control Tower</li> 
						<li class="list-group-item">keywords: [Control Tower S-CASE, security, authentication, social media, Google, Github] </li> 
						<li class="list-group-item">createdAt: 2015-06-30</li> 
						<li class="list-group-item">updatedAt: 2015-06-30</li> 
						<li class="list-group-item">createdBy: Themis</li> 
					</ul>
					<ul class="list-group">
				  	  	<li class="list-group-item">Classification: Quality</li>
					  	<li class="list-group-item">Text: The system must encrypt user related data from the social media accounts  </li>
					  	<li class="list-group-item">Belong to Project: Control Tower S-CASE</li>
					  	<li class="list-group-item">Link to File: <a href='#'>http://AssetsRegistry/Requirement/58</a></li>
					  	<li class="list-group-item">Language: English</li>
						<li class="list-group-item">uri:</li>
						<li class="list-group-item">groupid: /AssetsRegistry/ctcode</li> 
						<li class="list-group-item">name: EncryptControlTowerCreds</li> 
						<li class="list-group-item">version: 0.1</li> 
						<li class="list-group-item">description: Encrypt users' data of their social media accounts</li> 
						<li class="list-group-item">keywords: [Control Tower S-CASE, security, authentication, social media, Google, Github] </li> 
						<li class="list-group-item">createdAt: 2015-06-30</li> 
						<li class="list-group-item">updatedAt: 2015-06-30</li> 
						<li class="list-group-item">createdBy: Themis</li> 

					</ul>
					<!--Hardcoded end-->
			  	</div>
		  	</div>
      	</div>
		<!-- Use case Diagrams -->
        <div ng-show="tab.isSet(3)">
	        <div class="panel panel-info">
			  	<div class="panel-heading">Use Case Diagrams</div>
			  	<div class="panel-body" ng-controller="SearchController as searchCtrl">
			  		<ul class="list-group" ng-repeat="usecasediagram in searchCtrl.usecasediagrams">
			  			<!-- separate panel for actors -->
			  			<li class="list-group-item">
				  			<div class="panel-heading">Actors</div>
				  			<div class="panel-body">
					 			<ul class="list-group">
					 				<li class="list-group-item" ng-repeat="actor in usecasediagram.actors">Actor: {{actor}}</li>
					 			</ul>
				 			</div>
			 			</li>
			 			<!-- separate panel for Use Cases -->
			 			<li class="list-group-item">
				  			<div class="panel-heading">Use Case</div>
				  			<div class="panel-body">
					 			<ul class="list-group">
					 				<li class="list-group-item" ng-repeat="usecase in usecasediagrams.usecases">Usecase:{{usecase}}</li>
					 			</ul>
				 			</div>
			 			</li>
					  	<li class="list-group-item">Belong to Project: {{usecasediagram.belongsTo}}</li>
				  	  	<li class="list-group-item">Format: {{usecasediagram.format}}</li>
					  	<li class="list-group-item">Link to File: {{usecasediagram.link}}</li>
				  		<li class="list-group-item">Relation: {{usecasediagram.relation}}</li>
						<li class="list-group-item">uri:{{usecasediagram.uri}}</li> 
						<li class="list-group-item">groupid: {{usecasediagram.groupId}}</li> 
						<li class="list-group-item">name: {{usecasediagram.name}}</li> 
						<li class="list-group-item">version: {{usecasediagram.version}}</li> 
						<li class="list-group-item">description: {{usecasediagram.description}}</li> 
						<li class="list-group-item">keywords: {{usecasediagram.tags}} </li> 
						<li class="list-group-item">createdAt: {{usecasediagram.createdAt}}</li> 
						<li class="list-group-item">updatedAt: {{usecasediagram.updatedAt}}</li> 
						<li class="list-group-item">createdBy: {{usecasediagram.createdBy}}</li> 
						<li class="list-group-item">updatedBy: {{usecasediagram.updatedBy}}</li>
					</ul>
					<!--hardoded-->
					<ul class="list-group">
			  			<!-- separate panel for actors -->
			  			<li class="list-group-item">
				  			<div class="panel-heading">Actors</div>
				  			<div class="panel-body">
					 			<ul class="list-group">
					 				<li class="list-group-item">Actor: Unregistered User</li>
									<li class="list-group-item">Actor: Logged in User</li>
					 			</ul>
				 			</div>
			 			</li>
			 			<!-- separate panel for Use Cases -->
			 			<li class="list-group-item">
				  			<div class="panel-heading">Use Case</div>
				  			<div class="panel-body">
					 			<ul class="list-group">
					 				<li class="list-group-item">Usecase: The user visits the Control Tower. The options to log in with Google and Github are shown. The user clicks on one of this two options and a callback to Google or Github is shown.The user verifies his/her credentials and clicks on the verification of the social media provider.... </li>
					 			</ul>
				 			</div>
			 			</li>
					  	<li class="list-group-item">Belong to Project: Control Tower S-CASE</li>
				  	  	<li class="list-group-item">Format: Imaage</li>
					  	<li class="list-group-item">Link to File: <a href="#">/AssetsRegistry/Usecase/23.jpeg</a></li>
				  		<li class="list-group-item">Relation: <a href="#">/AssetsRegistry/Usecase/23.xmi</a></li>
						<li class="list-group-item">uri:</li>
						<li class="list-group-item">groupid: /AssetsRegistry/ctcode</li> 
						<li class="list-group-item">name: UsecaseLoginControlTower</li> 
						<li class="list-group-item">version: 0.1</li> 
						<li class="list-group-item">description: A use case on how the users logs in the Control Tower</li> 
						<li class="list-group-item">keywords: [Control Tower S-CASE, security, authentication, social media, Google, Github] </li> 
						<li class="list-group-item">createdAt: 2015-06-30</li> 
						<li class="list-group-item">updatedAt: 2015-06-30</li> 
						<li class="list-group-item">createdBy: Themis</li> 
					</ul>
					<!---hardcode--->
			  	</div>
			</div> 
        </div>

        <!---display activitydiagrams data-->
        <div ng-show="tab.isSet(4)">
			 <div class="panel panel-info">
			  	<div class="panel-heading">Activity Diagrams</div>
			  	<div class="panel-body" ng-controller="SearchController as searchCtrl">
			  		<ul class="list-group" ng-repeat="activitydiagram in searchCtrl.activitydiagrams">
			  			<!-- separate panel for actors -->
			  			<li class="list-group-item">
				  			<div class="panel-heading">Actions</div>
				  			<div class="panel-body">
					 			<ul class="list-group">
					 				<li class="list-group-item" ng-repeat="action in activitydiagram.actions">Action: {{action}}</li>
					 			</ul>
				 			</div>
			 			</li>
					  	<li class="list-group-item">Belong to Project: {{activitydiagram.belongsTo}}</li>
				  	  	<li class="list-group-item">Format: {{activitydiagram.format}}</li>
					  	<li class="list-group-item">Link to File: {{activitydiagram.link}}</li>
				  		<li class="list-group-item">Relation: {{activitydiagram.relation}}</li>						
						<li class="list-group-item">uri:{{activitydiagram.uri}}</li> 
						<li class="list-group-item">groupid: {{activitydiagram.groupId}}</li> 
						<li class="list-group-item">name: {{activitydiagram.name}}</li> 
						<li class="list-group-item">version: {{activitydiagram.version}}</li> 
						<li class="list-group-item">description: {{activitydiagram.description}}</li> 
						<li class="list-group-item">keywords: {{activitydiagram.tags}} </li> 
						<li class="list-group-item">createdAt: {{activitydiagram.createdAt}}</li> 
						<li class="list-group-item">updatedAt: {{activitydiagram.updatedAt}}</li> 
						<li class="list-group-item">createdBy: {{activitydiagram.createdBy}}</li> 
						<li class="list-group-item">updatedBy: {{activitydiagram.updatedBy}}</li>
					</ul>
					<!--hard code--->
					<ul class="list-group">
			  			<!-- separate panel for actors -->
			  			<li class="list-group-item">
				  			<div class="panel-heading">Actions</div>
				  			<div class="panel-body">
					 			<ul class="list-group">
					 				<li class="list-group-item" >Action: User clicks on the Social Media account</li>
									<li class="list-group-item" >Action: The system redirects to the Social Media provider callback URL</li>
					 			</ul>
				 			</div>
			 			</li>
					  	<li class="list-group-item">Belong to Project: Control Tower S-CASE</li>
				  	  	<li class="list-group-item">Format: xmi</li>
					  	<li class="list-group-item">Link to File: <a href='#'>/AssetsRegistry/activitydiagram/82.xmi</a></li>
				  		<li class="list-group-item">Relation: <a href='#'>/AssetsRegistry/activitydiagram/82.jpeg</a></li>
						<li class="list-group-item">uri:</li>
						<li class="list-group-item">groupid: /AssetsRegistry/ctcode</li> 
						<li class="list-group-item">name: ActivityLoginControlTower</li> 
						<li class="list-group-item">version: 0.1</li> 
						<li class="list-group-item">description: The activity diagram of the login to Control Tow</li> 
						<li class="list-group-item">keywords: [Control Tower S-CASE, security, authentication, social media, Google, Github] </li> 
						<li class="list-group-item">createdAt: 2015-06-30</li> 
						<li class="list-group-item">updatedAt: 2015-06-30</li> 
						<li class="list-group-item">createdBy: Themis</li> 
					</ul>
					<!--hard code-->
			  	</div>
			</div> 
        </div>

        <!---display classdiagrams data-->
        <div ng-show="tab.isSet(5)">
			<div class="panel panel-info">
			  	<div class="panel-heading">Analysis Class Diagrams</div>
			  	<div class="panel-body" ng-controller="SearchController as searchCtrl">
			  		<ul class="list-group" ng-repeat="classdiagram in searchCtrl.classdiagrams">
			  			<!-- separate panel for classes-->
			  			<li class="list-group-item">
				  			<div class="panel-heading">Classes</div>
				  			<div class="panel-body">
					 			<ul class="list-group">
					 				<li class="list-group-item" ng-repeat="class in classdiagram.classes">Class Name: {{class.name}} <li class="list-group-item" ng-repeat="property in class.properties">Property ({{property.type}}): {{property.name}}</li> </li>
					 			</ul>
				 			</div>
			 			</li>
					  	<li class="list-group-item">Belong to Project: {{classdiagram.belongsTo}}</li>
				  	  	<li class="list-group-item">Format: {{classdiagram.format}}</li>
					  	<li class="list-group-item">Link to File: {{classdiagram.link}}</li>
				  		<li class="list-group-item">Relation: {{classdiagram.relation}}</li>
						<li class="list-group-item">uri:{{classdiagram.uri}}</li> 
						<li class="list-group-item">groupid: {{classdiagram.groupId}}</li> 
						<li class="list-group-item">name: {{classdiagram.name}}</li> 
						<li class="list-group-item">version: {{classdiagram.version}}</li> 
						<li class="list-group-item">description: {{classdiagram.description}}</li> 
						<li class="list-group-item">keywords: {{classdiagram.tags}} </li> 
						<li class="list-group-item">createdAt: {{classdiagram.createdAt}}</li> 
						<li class="list-group-item">updatedAt: {{classdiagram.updatedAt}}</li> 
						<li class="list-group-item">createdBy: {{classdiagram.createdBy}}</li> 
						<li class="list-group-item">updatedBy: {{classdiagram.updatedBy}}</li>
					</ul>
					<!--hardcode-->
					<ul class="list-group" ng-repeat="classdiagram in searchCtrl.classdiagrams">
			  			<!-- separate panel for classes-->
			  			<li class="list-group-item">
				  			<div class="panel-heading">Classes</div>
				  			<div class="panel-body">
					 			<ul class="list-group">
					 				<li class="list-group-item">Class Name: ControlTowerCredentialsController <li class="list-group-item" >Property (String): GithubUsername</li> <li class="list-group-item" >Property (String): GoogleEmail</li></li>
					 			</ul>
				 			</div>
			 			</li>
					  	<li class="list-group-item">Belong to Project: Control Tower S-CASE</li>
				  	  	<li class="list-group-item">Format: xmi</li>
					  	<li class="list-group-item">Link to File: <a href='#'>/AssetsRegistry/AnalysisClassDiagram/12.xmi</a></li>
				  		<li class="list-group-item">Relation: <a href='#'>/AssetsRegistry/AnalysisClassDiagram/12.jpeg</a></li>
						<li class="list-group-item">uri:</li>
						<li class="list-group-item">groupid: /AssetsRegistry/ctcode</li> 
						<li class="list-group-item">name: AnalysisClassDiagControlTower</li> 
						<li class="list-group-item">version: 0.1</li> 
						<li class="list-group-item">description: The analysis class diagram of the Control Tower authentication mechanism</li> 
						<li class="list-group-item">keywords: [Control Tower S-CASE, security, authentication, social media, Google, Github] </li> 
						<li class="list-group-item">createdAt: 2015-06-30</li> 
						<li class="list-group-item">updatedAt: 2015-06-30</li> 
						<li class="list-group-item">createdBy: Themis</li> 
					</ul>
					<!--hardcode-->
			  	</div>
			</div> 
        </div>

		<!---display storyboards data-->
        <div ng-show="tab.isSet(6)">
			
			 <div class="panel panel-info">
			  	<div class="panel-heading">Storyboards</div>
			  	<div class="panel-body" ng-controller="SearchController as searchCtrl">
			  		<ul class="list-group" ng-repeat="storyboard in searchCtrl.storyboards">
			  			<!-- separate panel for actions -->
			  			<li class="list-group-item">
				  			<div class="panel-heading">Actions</div>
				  			<div class="panel-body">
					 			<ul class="list-group">
					 				<li class="list-group-item" ng-repeat="action in storyboard.actions">Action: {{action}}</li>
					 			</ul>
				 			</div>
			 			</li>
					  	<li class="list-group-item">Belong to Project: {{storyboard.belongsTo}}</li>
				  	  	<li class="list-group-item">Format: {{storyboard.format}}</li>
					  	<li class="list-group-item">Link to File: {{storyboard.link}}</li>
				  		<li class="list-group-item">Relation: {{storyboard.relation}}</li>						
						<li class="list-group-item">uri:{{storyboard.uri}}</li> 
						<li class="list-group-item">groupid: {{storyboard.groupId}}</li> 
						<li class="list-group-item">name: {{storyboard.name}}</li> 
						<li class="list-group-item">version: {{storyboard.version}}</li> 
						<li class="list-group-item">description: {{storyboard.description}}</li> 
						<li class="list-group-item">keywords: {{storyboard.tags}} </li> 
						<li class="list-group-item">createdAt: {{storyboard.createdAt}}</li> 
						<li class="list-group-item">updatedAt: {{storyboard.updatedAt}}</li> 
						<li class="list-group-item">createdBy: {{storyboard.createdBy}}</li> 
						<li class="list-group-item">updatedBy: {{storyboard.updatedBy}}</li>
					</ul>
					<!--hard code--->
					<ul class="list-group">
			  			<!-- separate panel for actors -->
			  			<li class="list-group-item">
				  			<div class="panel-heading">Actions</div>
				  			<div class="panel-body">
					 			<ul class="list-group">
					 				<li class="list-group-item" >Action: User clicks on the Social Media account</li>
									<li class="list-group-item" >Action: The system redirects to the Social Media provider callback URL</li>
					 			</ul>
				 			</div>
			 			</li>
					  	<li class="list-group-item">Belong to Project: Control Tower S-CASE</li>
				  	  	<li class="list-group-item">Format: xmi</li>
					  	<li class="list-group-item">Link to File: <a href='#'>/AssetsRegistry/storyboard/231.xmi</a></li>
				  		<li class="list-group-item">Relation: <a href='#'>/AssetsRegistry/storyboard/231.jpeg</a></li>
						<li class="list-group-item">uri:</li>
						<li class="list-group-item">groupid: /AssetsRegistry/ctcode</li> 
						<li class="list-group-item">name:StoryboardControlTower</li> 
						<li class="list-group-item">version: 0.1</li> 
						<li class="list-group-item">description: The major storyboard of the Control Tower Authentication</li> 
						<li class="list-group-item">keywords: [Control Tower S-CASE, security, authentication, social media, Google, Github] </li> 
						<li class="list-group-item">createdAt: 2015-06-30</li> 
						<li class="list-group-item">updatedAt: 2015-06-30</li> 
						<li class="list-group-item">createdBy: Themis</li> 
					</ul>
					<!--hard code-->
			  	</div>
			</div> 
        </div>

        <!---display sourcecodes data-->
        <div ng-show="tab.isSet(7)">
			<div class="panel panel-info">
			  	<div class="panel-heading">Source Code</div>
			  	<div class="panel-body" ng-controller="SearchController as searchCtrl">
			  		<ul class="list-group" ng-repeat="sourcecode in searchCtrl.sourcecodes">
					  	<li class="list-group-item">Belong to Project: {{sourcecode.belongsTo}}</li>
					  	<li class="list-group-item">Link to File: {{sourcecode.link}}</li>						
						<li class="list-group-item">uri:{{sourcecode.uri}}</li> 
						<li class="list-group-item">groupid: {{sourcecode.groupId}}</li> 
						<li class="list-group-item">name: {{sourcecode.name}}</li> 
						<li class="list-group-item">version: {{sourcecode.version}}</li> 
						<li class="list-group-item">description: {{sourcecode.description}}</li> 
						<li class="list-group-item">keywords: {{sourcecode.tags}} </li> 
						<li class="list-group-item">createdAt: {{sourcecode.createdAt}}</li> 
						<li class="list-group-item">updatedAt: {{sourcecode.updatedAt}}</li> 
						<li class="list-group-item">createdBy: {{sourcecode.createdBy}}</li> 
						<li class="list-group-item">updatedBy: {{sourcecode.updatedBy}}</li>
					</ul>
					<!--hard code-->
					<ul class="list-group" >
					  	<li class="list-group-item">Belong to Project: Control Tower S-CASE</li>
					  	<li class="list-group-item">Link to File: <a href='#'>/AssetsRegistry/SourceCode/32.zip</a></li>
						<li class="list-group-item">uri:</li>
						<li class="list-group-item">groupid: /AssetsRegistry/ctcode</li> 
						<li class="list-group-item">name: ControlTowerSource</li> 
						<li class="list-group-item">version: 0.1</li> 
						<li class="list-group-item">description: The source code of Control Tower of S-CASE</li> 
						<li class="list-group-item">keywords: [Control Tower S-CASE, security, authentication, social media, Google, Github] </li> 
						<li class="list-group-item">createdAt: 2015-06-30</li> 
						<li class="list-group-item">updatedAt: 2015-06-30</li> 
						<li class="list-group-item">createdBy: Themis</li> 
					</ul>
					<!--hardcode-->
			  	</div>
			</div> 
        </div>

        <!---display services data-->
        <div ng-show="tab.isSet(8)">	
			<div class="panel panel-info">
			  	<div class="panel-heading">Services</div>
			  	<div class="panel-body" ng-controller="SearchController as searchCtrl">
			  		<ul class="list-group" ng-repeat="service in searchCtrl.scaseservices">
			  			<li class="list-group-item">Type: {{service.type}}</li>
			  			<div ng-if="service.type==='service description'">
			  			<li class="list-group-item">Link to Domain Ontology: {{service.domainOntology}}</li>
			  			<li class="list-group-item">Belong to Project: {{service.belongsTo}}</li>
					  	<li class="list-group-item">Link to File: {{service.link}}</li>
			  			</div>
			  			<div ng-if="service.type==='composite service description'">
			  			<li class="list-group-item">List of 3rd party web services: {{service.list}}</li>
			  			<li class="list-group-item">Link to Workflow: {{service.workflow}}</li>
			  			<li class="list-group-item">Belong to Project: {{service.belongsTo}}</li>
					  	<li class="list-group-item">Link to File: {{service.link}}</li>
			  			</div>
			  			<div ng-if="service.type==='service'">
			  			<li class="list-group-item">Belong to Project: {{service.belongsTo}}</li>
			  			<li class="list-group-item">Url: {{service.url}}</li>
			  			<li class="list-group-item">wadl: {{service.wadl}}</li>
			  			<li class="list-group-item">entry: {{service.entry}}</li>
			  			</div>
					  	<div ng-if="service.type==='3rd party service'">
			  			<li class="list-group-item">Belong to Project: {{service.belongsTo}}</li>
			  			<li class="list-group-item">Documentation: {{service.documentation}}</li>
			  			<li class="list-group-item">wadl: {{service.wadl}}</li>
			  			<li class="list-group-item">entry: {{service.entry}}</li>
			  			</div>
						<li class="list-group-item">uri:{{service.uri}}</li> 
						<li class="list-group-item">groupid: {{service.groupId}}</li> 
						<li class="list-group-item">name: {{service.name}}</li> 
						<li class="list-group-item">version: {{service.version}}</li> 
						<li class="list-group-item">description: {{service.description}}</li> 
						<li class="list-group-item">keywords: {{service.tags}} </li> 
						<li class="list-group-item">createdAt: {{service.createdAt}}</li> 
						<li class="list-group-item">updatedAt: {{service.updatedAt}}</li> 
						<li class="list-group-item">createdBy: {{service.createdBy}}</li> 
						<li class="list-group-item">updatedBy: {{service.updatedBy}}</li>
					</ul>
					<!--hard code-->
					<ul class="list-group">
			  			<li class="list-group-item">Type: Service Description</li>
			  			<li class="list-group-item">Link to Domain Ontology: /AssetsRegistry/domainOntology/1.owl</li>
			  			<li class="list-group-item">Belong to Project: Control Tower S-CASE</li>
					  	<li class="list-group-item">Link: <a href='#'>/ControlTower/Api/</a></li>
						<li class="list-group-item">uri:</li>
						<li class="list-group-item">groupid: /AssetsRegistry/ctcode</li> 
						<li class="list-group-item">name: S-CASE Control Tower API</li> 
						<li class="list-group-item">version: 0.1</li> 
						<li class="list-group-item">description: Service to authenticate through control tower of S-CASE</li> 
						<li class="list-group-item">keywords: [Control Tower S-CASE, security, authentication, social media, Google, Github] </li> 
						<li class="list-group-item">createdAt: 2015-06-30</li> 
						<li class="list-group-item">updatedAt: 2015-06-30</li> 
						<li class="list-group-item">createdBy: Themis</li> 
			  			</div>
					</ul>
					<!--hardcode-->
			  	</div>
			</div> 
        </div>

        
  	</section>
	
	
	
</body>
</html>
