<!doctype html>
<% include header %>
<% include navbar %>
<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="QAApp">


<!-- controller from which we get the info from the S-CASE artefacts Repo-->
<body class="container" ng-controller="SearchController as searchCtrl">
	<!-- controller to which we pass data to perform the search to the S-CASE artefacts Repo -->
	<form name="reviewForm"  ng-submit="searchCtrl.doSearch()">

		<!-- we have to add checked box and angularjs connection-->
		<fieldset class="form-group">
		  <h2>Domain(s) of Interest</h2>
		    <input ng-model="searchCtrl.searchQuery.domainQuery" ng-repeat="domain in qaCtrl.domains" type="checkbox" />{{domain}}
		</fieldset>

		<fieldset class="form-group">
		  <h2>Sub-Domain(s) of Interest</h2>
		    <input ng-model="searchCtrl.searchQuery.subdomainQuery" type="checkbox" ng-repeat="subdomain in qaCtrl.subdomains">{{subdomain}}
		</fieldset>

		<fieldset class="form-group">
	        <select ng-model="searchCtrl.searchQuery.requirementsClass" class="form-control" ng-options="reqsClass for reqsClasses in [Functional,Non-Functional (Quality), Both]" title="Stars">
	          <option value>Requirements classification</option>
	        </select>
     	</fieldset>

		<fieldset class="form-group">
			<h2>Operations</h2>
			<textarea ng-model="searchCtrl.searchQuery.operations" class="form-control" placeholder="Operations (separated by comma)" title="Operations"></textarea>
		</fieldset>

		<fieldset class="form-group">
        	<input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
      	</fieldset>
	</form>	
</body>
</html>